nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  background-color: #333;
  color: white;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.logo {
  font-size: 3rem;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0%;
  transition: 0.2s linear;
}

.logo:hover {
  letter-spacing: 4px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

li {
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease all;
  font-size: 1.2rem;
  line-height: 80px;
}
a:hover {
  color: #f1c40f;
}

.carrito i {
  font-size: 1.5rem;
  margin-left: 20px;
  line-height: 80px;
  cursor: pointer;
}

#ir_pagar {
  background-color: #f1c40f;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s ease all;
}
