.footer {
  display: flex;
  justify-content: space-around;
  background-color: #444242;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
  flex-direction: column;
  color: white;
  padding-top: 2px;
}

.footer-sect ion h4 {
  /* margin-bottom: 10px; */
  size: 100px;
}

.footer-section ul {
  list-style-type: none;
  flex-direction: column;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.redes {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  height: 30%;
  gap: 20px;
}

.redes a {
  text-align: center;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

.redes a:hover {
  transform: scale(1.2);
}

#facebook {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg");
}

#instagram {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png");
}

#tiktok {
  height: 50px;
  width: 50px;
  background-size: 120%;
  background-position: center;

  background-image: url("https://static.vecteezy.com/system/resources/previews/023/986/921/non_2x/tiktok-logo-tiktok-logo-transparent-tiktok-icon-transparent-free-free-png.png");
}

.footer-section img {
  margin-top: 10px;
  width: 10%;
}
