.galeria-promociones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.galeria-promociones div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 200px;
  transition: 0.4s ease-in all;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in all;
  }
}
.galeria-promociones div:hover {
  width: 350px;

  img {
    transform: scale(1.1);
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .galeria-promociones {
    margin: 50px 0;
  }
  .galeria-promociones div {
    width: 100%;
    height: 100px;
  }

  .galeria-promociones div:hover {
    width: 100%;
    height: 350px;
  }
}
